svg{
    width: 90px;
 
}
 /* #a1 {
      
        background-image: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7ed0855435194229a525aad6009a0497_9366/SUPERSTAR_SHOES_White_EG4958_01_standard.jpg')!important;
        background-size: cover!important;
        padding:10%!important;
}

#a1:hover {
        background-image: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8a358bcd5e3d453da815aad6009a249e_9366/SUPERSTAR_SHOES_White_EG4958_02_standard_hover.jpg')!important;
      }
      

      #a2 {
      
        background-image: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/7ed0855435194229a525aad6009a0497_9366/SUPERSTAR_SHOES_White_EG4958_01_standard.jpg')!important;
        background-size: cover!important;
        padding:10%!important;
}

#a2:hover {
        background-image: url('https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/8a358bcd5e3d453da815aad6009a249e_9366/SUPERSTAR_SHOES_White_EG4958_02_standard_hover.jpg')!important;
      } */
.isi{
    opacity:1;
        transition-duration:1s;
        transform:scale(1); 
        cursor: pointer;
}
.isi:hover{
        opacity:1;
       
        transform:scale(1.3); 
}
.oh{
    overflow: hidden;
}
.is{
    opacity:1;
        transition-duration:1.5s;
        transform:scale(1); 
        cursor: pointer;
      
}
.is:hover{
        opacity:1;
      
        border:solid 1px;
        border-color: black;
        transform:scale(1.2); 
}
.a1{
       text-decoration: none;
       text-decoration-color:none;
       transition-duration:1.5s;
       transform:scale(1); 
             
            cursor: pointer;
    }
    .a1:hover{
         transform:scale(1.1); 
        
          text-decoration: underline  crimson;
          text-decoration-color: blue;
         
    }
   .po{
        position:fixed;
        z-index: 5;
   }